{{ define "main" }}

<main aria-role="main"> 


  <div class="content"> 
    <div class="index-content framed">
      <h1 id="hello-there">Eko Nur Muhammad Irsyad</h1>
      <p><code>react-native</code> <code>react-js</code> <code>firebase</code><br/> <code>javascript</code> <code>design-pattern</code> <code>redux</code> <code>hooks</code></p>
      <div align="center">
          <a class="read-more button" href="/experience">Experience → </a>
        </div>
    </div> 
  </div> 

</div>

</main>



{{ end }}
